.page-events .catal-ex-item-buttons, .page-events .topics_event {
   display: none;
}

a.widget-icon.openCapTrigger {
    display: none;
}
.intro-alt .list-links:before {
    background-image: none;
}
.fixed-logo .intro-alt .logo {
    display: none;
}
body.article .site-wrapper:before {
    background-image: none;
}

header.site-banner.fixed .header-content .logo {
    display: none;
}

.logo {
    display: inline-block;
    background: url(images/wv.jpg) no-repeat 0 0;
    width: 520px;
    height: 318px;
}

.intro-alt .intro__content {
    max-width: 492px;
    padding: 153px 35px 50px 152px;
    text-align: center;
}
.intro-alt .intro__inner:before {
    content: '';
    position: absolute;
    top: -52px;
    left: 57px;
    width: 586px;
    height: 17vh;
    min-height: 568px;
    background: #fff;
    opacity: .17;
    pointer-events: none;
}
